@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #222;
}

.card {
    background: linear-gradient(45deg, #012085, #00b3c0);
    width: 90%;
    max-width: 470px;
    margin: 10px auto auto;
    padding: 40px 35px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
}

.search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 60px;
    border-radius: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.search button img {
    width: 16px;
    margin-top: 7px;
}

.weatherIcon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

@media screen and (max-width: 896px) {

    .weatherIcon {
        width: 190px;
    }

    .weather h1 {
        font-size: 60px;
    }
    
    .weather h2 {
        font-size: 35px;
    }

    .search input{
        width: 10px;
    }
    .col img {
        width: 35px;
    }

    .humidity, .wind {
        font-size: 20px;
    }
}