/* Color pallete: #4e977e, #89d8be, #9ae1ce, #e9e9e9 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: .2s .7s ease-in-out;
}

form.signIn-form {
    z-index: 2;
}

form.signUp-form {
    z-index: 1;
    opacity: 0;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #3c7561, #63c0a0);
    top: -10%;
    right: 42%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.formContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signIn-signUp {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out;
}

.title {
    font-size: 2.2rem;
    color: #4e977e;
    margin-bottom: 10px;
}

.inputField {
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #e9e9e9;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.inputField i {
    text-align: center;
    line-height: 55px;
    color: #9b9b9b;
    font-size: 1.1rem;
}

.inputField input {
    background: none;
    border: none;
    outline: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #3c7561;
}

.inputField input::placeholder {
    color: #9b9b9b;
    font-weight: 500;
}

.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 55px;
    cursor: pointer;
    background-color: #4e977e;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    margin: 10px 0;
    font-size: 17px;
}

.btn:hover {
    background-color: #63c0a0;
}

.socialAccounts {
    padding: .7rem 0;
    font-size: 1rem;
}

.socialMedias {
    display: flex;
    justify-content: center;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border: 1px solid #4e977e;
    margin: 0 0.45rem;
    text-decoration: none;
    color: #4e977e;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .5s;
}

.socialIcons:hover {
    background: #63c0a0;
    border: 1px solid #63c0a0;
    color: #fff;
}

.panelsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    font-size: 14px;
}

.btn.transparent:hover {
    background: #fff;
    color: #4e977e;
    border: 2px solid #fff;
}

.right-panel .content,
.right-panel .image {
    transform: translateX(800px);
}

.image {
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.container.signUp-mode::before {
    transform: translate(100%, -50%);
    right: 58%;
}

.container.signUp-mode .left-panel .image,
.container.signUp-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.signUp-mode .left-panel {
    pointer-events: none;
}

.container.signUp-mode .right-panel .image,
.container.signUp-mode .right-panel .content {
    transform: translateX(0px);
}

.container.signUp-mode .right-panel {
    pointer-events: all;
}

.container.signUp-mode .signIn-signUp {
    left: 25%;
}

.container.signUp-mode form.signIn-form {
    z-index: 1;
    opacity: 0;
}

.container.signUp-mode form.signUp-form {
    z-index: 2;
    opacity: 1;
}